[Desktop Entry]
Name=DeskLink
NoDisplay=true
MimeType=x-scheme-handler/desklink;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
